$monocromatic-white: #fff;
$monocromatic-alternative-white: #f5f5f5;
$monocromatic-grey: #d5d5d5;
$monocromatic-alternative-grey: #888888;
$monocromatic-black: #2a293e;
$monocromatic-alternative-black: #4a4a4a;